# Smart Neighborhood Help Network - Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDV9ZMkMAImG7g3geLrPp8Xfw5poSbglX0
VITE_FIREBASE_AUTH_DOMAIN=smart-neighborhood-b9a22.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-neighborhood-b9a22
VITE_FIREBASE_STORAGE_BUCKET=smart-neighborhood-b9a22.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=488724812997
VITE_FIREBASE_APP_ID=1:488724812997:web:ef285eb210bcb0f17e4cac
VITE_FIREBASE_MEASUREMENT_ID=G-31D8LN4JK0
